// @import './vars.scss';
@import './base.scss';

$theme-colors: (
  'primary': $my-prymary,
  'secondary': $my-secondary,
  'success': $my-success,
  'info': $my-prymary-2,
  'warning': $my-warning,
  'danger': $my-danger,
  'light': $my-light,
  'dark': $my-dark,
  'gray-80': $gray-80,
  'gray-60': $gray-60,
  'gray-40': $gray-40,
  'gray-20': $gray-20,
  'gray-10': $gray-10,
  'gray-0': $gray-0,
  // 'title': #222,
  'body': $my-body,
  'line1': $line1,
  'white': $white,
  'prymary-light': $my-info,
  'content-heading': $content-heading,
  'black': $black
);

$font-sizes: (
  1: 52px,
  2: 36px,
  3: 24px,
  4: 18px,
  5: 16px,
  6: 14px,
  7: 12px,
);

$input-placeholder-color: #fff;

@import "~bootstrap/scss/bootstrap";

.btn {
  font-weight: 600;
  border: none;
}

.btn-primary:disabled, .btn-primary.disabled {
  background-color: #e0e0f7;
  color: #2b1765;
}

.btn-secondary:disabled, .btn-secondary.disabled {
  background-color: #fdf8ec;
  color: #e5c270;
}

.btn-primary:focus, .btn-primary.focus {
  background-color: #2b1765;
}

.btn-secondary:focus, .btn-secondary.focus {
  background-color: #e5c270;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #d4d4d7;
}
