$my-body: #444;

$my-prymary: #3b2186;
$my-prymary-2: #e1efff;
$my-secondary: #f2cf7e;
$my-success: #74b566;
$my-info: #76bedb;
$my-warning: #e6af5f;
$my-danger: #d83538;
$my-light: #f9f5e6;
$my-dark: #2b146c;

$gray-80: #555560;
$gray-60: #7f7f88;
$gray-40: #aaaaaf;
$gray-20: #d4d4d7;
$gray-10: #eaeaeb;
$white: #fff;

$content-heading: #2a2a38;

$line1: #ececec;
$black: #000


// @each $breakpoint, $width in $widths {
//   @media (min-width: map.get($breakpoints, $breakpoint)) { // <- $breakpoints undefined
//       .container {
//           max-width: $width;
//       }
//   }
// }
